/* use in table widget */
table {
	width: auto;
	background-color: #EEE;
	font-size: 13px;
}

th {
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 3px 5px;
	background-color: #999;
	color: #FFF;
}

td {
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	padding: 3px 5px;
	vertical-align: top;
}

.month td {
	width: 200px;
	height: 150px;
	font-weight: bold;
	font-size:large;
}

.year td {
	width:40px;
	height: 40px;
	font-weight: bold;
	font-size: small;
}

.month .wrongMonth {
	font-size: medium;
	font-weight: normal;
	color: gray;
}

.year .wrongMonth {
	font-size: x-small;
	font-weight: normal;
	color: gray;
}

.today {
	color: red;
}

.changedData {background-color: yellow}

.newData {background-color: limegreen}

.deletedData {background-color: palevioletred}

.loggedIn {
	color: green;
	font-weight: bold;
	font-size: 120%;
}

.activeView {background-color: yellow}

svg {
	border-style: ridge;
	border-width: 5px;
	background-color: antiquewhite;
}

.parent .nodeRect {
	stroke: blue;
	stroke-width: 5px;
}

.currentParent .nodeRect {
	stroke: red;
	stroke-width: 5px;
}

.currentParent.parent .nodeRect {
	stroke:purple;
}

text {
	text-anchor: middle;
	font-size: 16px;
}

.link {
	fill: none;
	stroke: black;
	stroke-width: 3px;
}

.nodeRect {
	stroke: black;
	stroke-width: 1px;
	fill: lightblue;
}

.childrenHiddenToggle {
	stroke: black;
	stroke-width: 1px;
	fill: rebeccapurple;
}

.childrenVisibleToggle {
	stroke: black;
	stroke-width: 1px;
	fill: royalblue;
}

.noChildrenToggle {
	display: none;
}

/* .tempLine {
	stroke: gray;
	stroke-width: 2px;
	stroke-dasharray: 2 2;
}

.permLine {
	stroke: black;
	stroke-width: 3px;
} */

/* .svgLabel {
		-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	fill: black;
	font-size: 12px;
	font-family: arial;
} */

.hidden {display: none}

.unselectable {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
		pointer-events: none !important;
}
/* // not being used
[draggable=true] {
    cursor: move;
}

//  resizeable class, not being used right now
.resizable {
	overflow: scroll;
	resize: both;
	max-width: 300px;
	max-height: 460px;
position: absolute;
left: 280px;
top: 300px;
background-color: #cc3300;
padding: 10px;
color: white;
z-index: 1;
}

// note being used
textarea {
	border-width: 0;
	font: 15px "Courier New";
	margin: 0;
	width: 100%;
	resize: vertical;
	min-height: 36px;
	height: 72px;
	padding: 0;
	background-color: skyblue;
	vertical-align: top;
} */
